<h2>Mechanic <%= @mechanic.name %> </h2>

<h4> <%= @mechanic.name %> has <%= @mechanic.years_experience %> years of experience and works on the following rides.</h4>
<% rides.each do |ride| %>
  <p><%= ride %></p>
<% end %>
